.datatable {
  padding: 20px;
  height: 90%;

  .datatableTitle {
    width: 100%;
    font-size: 24%;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 25px;
    }
  }
  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      font-size: 17px;
      margin: 5px;
      padding: 25px;
      width: 60px;
      text-align: center;
      color: green;
    }
    &.pending {
      background-color: rgba(0, 128, 0, 0.05);
      font-size: 17px;
      margin: 5px;
      padding: 25px;
      width: 60px;
      text-align: center;
      color: goldenrod;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      cursor: pointer;
      border: 1px dotted rgba(0, 0, 139, 0.596);
    }
    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      cursor: pointer;
      border: 1px dotted rgba(220, 20, 60, 0.6);
    }
  }
}
